* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: white;
  background: green;
}

a:hover {
  color: white;
  background: rgb(6, 80, 6);
}

.container {
  background: rgb(171, 224, 171);
  width: 50%;
  border-radius: 5px;
}

.tab-content {
  display: flex;
  justify-content: center;
}

.nav {
  justify-content: center;
}

.nav-item {
  margin: 0 20px;
}

.nav-pills .nav-link.active {
  background: rgb(6, 80, 6);
  color: white;
}

.form-control {
  margin: 20px 0;
}

.btn {
  background: green;
  color: white;
  width: 100%;
  padding: 10px;
}

.btn:hover {
  background-color: rgb(6, 80, 6);
  color: white;
}

.result {
  text-align: center;
  margin: 20px 0;
  border-radius: 5px;
  background: green;
  padding: 20px;
  color: white;
}

h2 {
  color: rgb(19, 82, 0);
}
